.caixa-de-texto {
    background-color: #ffffff;
    border: 2px solid;
    border-color: #4b6eaf;
    border-radius: 10px;
    height: 60px;
    position: relative;
    width: 322px;
}

.caixa-de-texto .texto {
    color: #a9cce3;
    font-family: "Varela-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 26px;
    left: 5px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    width: 310px;
}