.bot-o {
    background-color: #4b6eaf;
    border-radius: 20px;
    height: 60px;
    position: relative;
    width: 120px;
}

.bot-o .text-wrapper {
    color: #7fcdcd;
    font-family: "Varela-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 120px;
}