.box {
    height: 375px;
    width: 322px;
}

.box .caixa {
    background-color: #ffffff;
    border-radius: 30px;
    height: 375px;
    left: 0;
    position: fixed;
    top: 0;
    width: 322px;
    position: absolute;
    z-index: 1000;
}