.agendar {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}

.agendar .overlap-group-wrapper {
    background-color: #ffffff;
    background-image: url(../../images/hipnoterapia.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agendar .navbar {
    background-color: #4b6eaf;
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.agendar .usurio {
    height: 55px;
    object-fit: cover;
    top: 15px;
    width: 55px;
  }

.agendar .opcoes {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 30%;
    color: #a9cce3;
    font-family: "Archivo-Regular", Helvetica;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.agendar .botosCamuflados {
    display: flex; 
    text-decoration-line: none !important;
    color: #A9CCE3;
}

.agendar .caixaBrancaAgendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 5rem;
    padding: 0.5rem;
    height: 75%;
    width: 90%;
}

.agendar .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    width: 90%;
}

.agendar .card {
    color: #A9CCE3;
    border: 0.1rem solid #4b6eaf;
}

.agendar .tituloCard {
    font-size: 2rem;
    font-family: "Archivo-Regular", Helvetica;
}

.agendar .subtituloCard {
    font-size: 1rem;
    font-family: "Archivo-Regular", Helvetica;
}

.agendar .voltar {
    display: flex;
    flex-direction: row;
    width: 100%;
}